---
import data from "../data.json";
---

<html>
  <h1>Wish List</h1>
  <div>
    <h3>{data.section1.title}</h3>
    <ul>
      {data.section1.items.map((item) => <li>{item}</li>)}
    </ul>
  </div>
  <div>
    <h3>{data.section2.title}</h3>
    <ul>
      {data.section2.items.map((item) => <li>{item}</li>)}
    </ul>
  </div>
  <div>
    <h3>{data.section3.title}</h3>
    <ul>
      {data.section3.items.map((item) => <li>{item}</li>)}
    </ul>
  </div>

  <style>
    li {
      list-style-type: none;
    }
  </style>


</html>
